<div class="content container-fluid bootstrap snippets" style="margin-top:5rem">
    <div class="row row-broken">
    <div class="col-12 mb-2">
        <div id="rmBtn" class="my-1">
            <button class="joinRm btn btn-primary">rma</button>
            <button class="joinRm btn btn-primary">rmb</button>
        </div>
            <button class="btn btn-danger" id="leave-room" >CHECKOUT !!</button>
    </div>
    <div class="col-sm-12 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
        <div class="col-inside-lg decor-default">
        <div class="chat-body hide">
            
            <div id="chat-messages"></div>
            <form class="answer-add " id="msgBox">
            <input placeholder="Escriba un mensaje" id="m">
            <button id="send-message" class="answer-btn answer-btn-2"></button>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>