<link href="css/lobby.css" rel="stylesheet">

<div class="container lobby">
    <div class="row upper"> 
        {{> profile}}
        <div class="col-md-7 col-sm-12 col-xs-12 booking" style="width: 600px; height: 200px">
            <h3>Room Booking Form</h3>
            <form id="create" method="POST" action="/room">
                Name of Room:
                <input id="roomName" type="text" style="margin-bottom: 10px">
                <br> Private?
                <input id="privateRoom" type="checkbox" name="private" style="margin-bottom: 10px">
                <br> Password:
                <input id="password1" type="text" name="password" placeholder="password" style="margin-bottom: 7px">
                <br>
                <input id="createRoom" type="submit" value="BOOK THE ROOM">
            </form>
        </div>
    </div>

    

    <div class="row">
        <div class="col-12 lower">
            <div class="row room">
                <form id="join" method="post" action="/room">
                
                    <div class='row singleRoom'>
                        <div class='col-xl-6 col-sm-12'>
                            <input id='door' value="rma" class="joinRoom" type='image' src='/images/door.jpg'>
                            <p class="roomID">RM A</p>
                        </div>
                        {{!-- <div class='col-xl-6 col-sm-12'>
                            <p class='p1name'>player1</p>
                            <p class='p2name'>player2</p>
                        </div> --}}
                    </div> 

                    <div class='row singleRoom'>
                        <div class='col-xl-6 col-sm-12'>
                            <input id='door' value="rmb" class="joinRoom" type='image' src='/images/door.jpg'>
                            <p class="">RM B</p>
                        </div>
                        {{!-- <div class='col-xl-6 col-sm-12'>
                            <p class='p1name'>player1</p>
                            <p class='p2name'>player2</p>
                        </div> --}}
                    </div> 
                    
                </form>
            </div>
        </div>
    </div>
</div>

