<div class="col-md-5 col-sm-12 col-xs-12 profile" style="width: 400px;">
    <div class="info">
        <h4>Players Info</h4>
        <p class="username">Username: {{user.name}}</p>
        <p class="game">Number of game played: {{stats.played}}</p>
        <p class="score">Total score: {{stats.total_scores}}</p>
    </div>

    <img src="./images/guest1.png" width="100" height="125">
</div>